
.task-list-container {
    box-sizing: border-box;
    padding: 40px;
    overflow: auto;
    background-color: #f3f3fb;
    min-height: 100vh;
    border-radius: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;

    

    /*
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; 
    column-gap: 20px;
    row-gap: 20px;
    overflow-y: scroll;
    */
  }